@import '~antd/dist/antd.css';

.Login .card-container {
    position: relative;
    background-color: #fff;
    padding: 16px;
    margin-bottom: 20px;
}

/* .Login .card-container .ant-form-item .ant-btn{
    left: 28px;
} */

.Login .card-container .option {
    color: #666;
}

.Login .card-container .submit {
    width: 70%;
    position: relative;
    left: 56px;
}

