@import '~antd/dist/antd.css';

.OrderItem {
    padding-bottom: 60px;
}

.OrderItem .ant-layout-content {
    background-color: #fff;
    overflow: hidden;
}

.OrderItem .ant-layout-content .ant-steps {
    padding: 20px 0;
}

.OrderItem .ant-list-header {
    font-size: 16px;
    font-weight: 600;
    margin-left: 20px;
}

.OrderItem .btn-wrap {
    /*float: right;*/
    margin: 20px;
}

.item {
    padding: 10px;
}

.orderD {
    margin-top: 10px;
    padding: 20px 20px;
    background-color: #fff;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom:5px
}
