@import '~antd/dist/antd.css';

.Register .card-container {
    width: 100%;
    position: relative;
    background-color: #fff;
    padding: 20px 20px;
}

.Register .card-container .submit-btn {
    left: 160px;
}