@import '~antd/dist/antd.css';

.Order {
    padding: 4px;
    padding-bottom: 50px;
}

.Order .ant-list-vertical .ant-list-item-main {
    min-width: 180px;
}

.Order .card-container .ant-list-split .ant-list-item {
    border-bottom: 6px solid #f0f0f0;
}

.Order .ant-modal-content {
    text-align: center;
    background: transparent;
    box-shadow: none;
}

.Order .card-container {
    background-color: #fff;
    border-radius: 4px;
}

.Order .ant-list-item-extra {
    text-align: right;
}

.Order .card-container .shopname {
    display: inline-block;
    font-weight: 600;
    color: #444;
    margin: 10px 0;
}