@import '~antd/dist/antd.css';

.nologin {
    width: 100%;
    height: 100vh;
}

.nologin > div {
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 30px);
}

.nologin button {
    display: block;
    margin-top: 10px;
}

.Profile .content {
    background-color: #fff;
    padding: 20px 10px;
    text-align: center;
}

.Profile .info-right {
    float: right;
    top: 8px;
}

.Profile .logout {
    display: block;
    margin: 20px auto 10px;
}

.Profile .list-row {
    border-bottom: none;
    text-align: left;
    font-size: 15px;
    line-height: 60px;
    margin-top: 10px;
}

.Profile .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    line-height: 2.5;
}
