.App .footer {
    display: flex;
    width: 100%;
    justify-content: space-around;
    border-top: 1px solid #ddd;
    background-color: #fafafa;
    position: fixed;
    bottom: 0;
}

.App .footer a {
    display: inline-block;
    width: 100px;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    color: #333;
}

.footer-one {
    color: #ff4200 !important;
}

.footer-block {
    display: flex;
    flex-direction: column;
}

.footer-name {
    color: #a3a3a3;
    font-size: 14px;
}

.footer-icon {
    color: #a3a3a3;
    font-size: 24px;
}