.App .footer {
    display: flex;
    width: 100%;
    justify-content: space-around;
    border-top: 1px solid #ddd;
    background-color: #fafafa;
    position: fixed;
    bottom: 0;
}

.App .footer a {
    display: inline-block;
    width: 100px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: #333;
}