html{
    user-select: none;
}
body {
    margin: 0;
    padding: 0;
    background-color: #f3f4f5 !important;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}